.circle{
    &s{
        content: url(../assets/circles.png);
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        z-index: 2;
        right: 0;
        top: 0;
        @include respond(lg){
            display: none;
        }
    }
}
