.discord{
    width: 70vw;
    height: 60vh;
    @include respond(lg){
        margin-bottom: 5rem;
        width: 82vw;
        
    }
    @include respond(md){
        width: -webkit-fill-available;
    }
}